.main-content {
    width: 100%;
    height: calc(100vh - 48px);
}


.mainer-top {
    display: flex;
    padding: 16px 24px;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.breadcrumb-item:last-child {
    color: rgba(0, 0, 0, 0.85);
}

.breadcrumb span {
    display: flex;
    padding: 0px 8px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.theme {
    display: flex;
    align-items: center;
    height: 44px;
}

.theme span {
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.mainer-top-content {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.mainer-bottom {
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    overflow-y: scroll;
    max-height: calc(100% - 151px);
}

.form-box {
    padding: 24px;
    background-color: #fff;
}

.form-title {
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background: #FFF;
    box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.form-list {
    display: flex;
    gap: 16px;
}

.form-item {
    padding-bottom: 24px;
    flex: 1 0 0;
}

.form-item-title {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.form-input-container {
    position: relative;
    padding: 4px 11px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.form-input-container.select {
    outline: none;
    flex: 1 0 0;
    color: rgba(0, 0, 0, 0.25);
}

.form-input-container.select option {
    color: rgba(0, 0, 0, 0.25);
}

.form-input-container.wd {
    padding: 0;
}

.form-input {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

}


.enddate {
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.form-input.wd {
    padding: 4px 11px;
    flex: 1 0 0;
}

.form-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.clock-svg {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.prefix {
    display: flex;
    align-items: center;
    padding-left: 11px;
    padding-right: 12px;
    height: 30px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    background: #FAFAFA;
}

.suffix {
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 11px;
    height: 30px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    background: #FAFAFA;
}

.swapright {
    display: flex;
    width: 32px;
    padding: 1px 8px;
    justify-content: center;
    align-items: center;
    opacity: 0.87;
}