/* header部分--------------------------------------------------------------------------- */
.page-header {
    position: relative;
    height: 110px;
}

.global-icon {
    position: absolute;
    top: 19px;
    right: 23px;
}

/* 主体mainer部分--------------------------------------------------------------------------- */
.page-mainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 172.9px;
}

.intro {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.intro-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 237px;
}

.intro-top-logo-icon {
    display: block;
}

.intro-top-name {
    color: rgba(0, 0, 0, 0.85);
    font-size: 33px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0.165px;
}

.intro-subtitle {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    margin-top: 38.9px;
}

.tabs-tops {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 360px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.login-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}

.login-text span {
    color: #1890FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.login-focus {
    margin-top: 3px;
    width: 35px;
    height: 2px;
    background: #1890FF;
}

.signup-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.signup-text span {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.input-union {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.input-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 362px;
    height: 40px;
    padding: 8px 12px 8px 32px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.input-item svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    width: 16px;
    height: 16px;
}

.input-username {
    width: 177px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input-password {
    width: 153px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.group {
    width: 362px;
    display: flex;
    justify-content: space-between;
}

.check-union {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.check-union span {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.group-right {
    width: 82px;
    height: 25.2px;
    color: #1890FF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.button-signin {
    display: flex;
    height: 40px;
    padding: 6.4px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #1890FF;
    background: #1890FF;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}

.button-signin span {
    width: 82px;
    height: 25.2px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.form-bottom {
    display: flex;
    align-items: center;
}

.form-bottom-title {
    margin-right: 16px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.form-bottom-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 57px;
}

.form-bottom-icons svg {
    width: 28px;
    height: 28px;
}

.form-bottom-btn {
    width: 82px;
    height: 25.2px;
    color: #1890FF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.bg-mainer-left {
    position: absolute;
    top: 17.98px;
    left: 102.7px;
    width: 232.934px;
    height: 187.462px;
    transform: rotate(-4.998deg);
}







/* footer部分---------------------------------------------------------------------- */
.page-footer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 64px;
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-top-left {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.footer-top-right {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.footer-bottom {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.question-icon {
    position: absolute;
    bottom: 15px;
    right: 77px;
    display: inline-flex;
    padding: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.bg-body-right {
    position: absolute;
    top: 100.47px;
    right: 522.51px;
    width: 58.235px;
    height: 67.782px;
    transform: rotate(-10.997deg);
    opacity: 0.8;
}

.bg-body-left {
    position: absolute;
    top: 649.03px;
    left: 232.7px;
    width: 146.325px;
    height: 92.699px;
    transform: rotate(-6.998deg);
    opacity: 0.8;
}