.mainer-top {
    display: flex;
    width: 1232px;
    padding: 16px 24px 0 24px;
    margin-bottom: 24px;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.breadcrumb-item:last-child {
    color: rgba(0, 0, 0, 0.85);
}

.breadcrumb span {
    display: flex;
    padding: 0px 8px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.theme {
    display: flex;
    align-items: center;
    height: 44px;
}

.theme span {
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.mainer-top-content {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.input-search-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    border-radius: 2px;
    background: #FFF;
}

.input-search {
    display: flex;
    width: 418px;
    padding: 7px 11px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #D9D9D9;
    outline: none;
}

.input-search::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.search-btn {
    display: flex;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid #1890FF;
    background: #1890FF;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}

.search-btn span {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.mainer-top-nav {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.mainer-top-nav-item {
    padding: 8px 0px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.mainer-top-nav-item.blue {
    color: #1890FF;
    padding-bottom: 6px;
    border-bottom: 2px solid #1890FF;
}

.mainer-bottom {
    position: absolute;
    margin-left: 24px;
    max-height: 618px;
    overflow-y: scroll;
}

.option-card {
    width: 1184px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 23px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: #FFF;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-list {
    display: flex;
    gap: 24px;
}

.card-title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.category-item-box {
    display: flex;
    gap: 8px;
}

.category-item {
    display: flex;
    align-items: center;
    padding: 1px 8px;
    gap: 3px;
}

.category-name {
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.close-icon {
    width: 10px;
    height: 10px;
}

.expand {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px 0;
}

.expand span {
    color: #1890FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.expand svg {
    width: 10px;
    height: 10px;
}

.other-options {
    position: relative;
    display: flex;
    align-items: center;
    gap: 88px;
}

.unlimited {
    display: flex;
    align-items: center;
    padding: 3px 11px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.unlimited span {
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.down-icon-u {
    display: flex;
    padding-left: 6px;
    align-items: center;
    height: 24px;
}

.card-title.au {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 115.11px;
}

.card-title.r {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 309.29px;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects {
    display: flex;
    gap: 16px;
}

.project-item {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: #FFF;
}

.project-item-pic {
    width: 284px;
    height: 159.75px;
}

.project-item-pic.a {
    background: url(../images/cover\(1\).png), lightgray 50% / cover no-repeat;
}

.project-item-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;
    width: 284px;
}

.project-item-title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.project-item-text {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.project-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-item-bottom span {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.project-item-avatar {
    display: flex;
    font-size: 0;
}

.project-item-avatar img {
    width: 32px;
    height: 32px;
}

.avatar-2 {
    margin-left: -8px;
}

.avatar-3 {
    margin-left: -8px;
}