.main-content {
    width: 100%;
    height: calc(100vh - 48px);
}

.mainer-top {
    /* width: 100%; */
    display: flex;

    padding: 16px 24px;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.breadcrumb-item:last-child {
    color: rgba(0, 0, 0, 0.85);
}

.breadcrumb span {
    display: flex;
    padding: 0px 8px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.theme {
    display: flex;
    align-items: center;
    height: 44px;
}

.theme span {
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.mainer-top-content {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.mainer-bottom {
    margin-left: 24px;
    padding: 24px;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100% - 151px);
}

.steps {
    display: flex;
    padding: 16px 0px;
    justify-content: center;
}

.steps-container {
    display: flex;
    width: 856px;
    align-items: center;
    gap: 16px;
}

.step {
    display: flex;
    align-items: center;
}

.step-num {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #1890FF;
}

.step-num svg {
    margin: 8px;
}

.step-title {
    margin-right: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.step-title.second {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.step-num.second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 32px;
    border: 1px solid #1890FF;
    background: #1890FF;
}

.step-num.second.last {
    color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.step-title.last {
    margin-right: 0;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.form {
    display: flex;
    width: 446px;
    padding-left: 64px;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.payment {
    width: 382px;
    display: flex;
    align-items: center;
    padding: 3px 12px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.payment input {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    flex: 1 0 0;
}

.payment input::placeholder {
    color: rgba(0, 0, 0, 0.85);
}

.down-arrow-p {
    display: flex;
    align-items: center;
    padding-left: 6px;
    font-size: 0;
}

.down-arrow-svg {
    width: 10.178px;
    height: 6.857px;
}

.recipient {
    display: flex;
    width: 382px;
    align-items: center;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.recipient-left {
    display: flex;
    align-items: center;
    padding: 0 12px 0 11px;
    border-right: 1px solid #D9D9D9;
}

.recipient-left span {
    display: flex;
    width: 39px;
    height: 30px;
    margin-right: 11px;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.down-icon {
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
}

.down-icon img {
    display: block;
}

.recipient-right {
    padding: 4px 11px;
}

.recipient-input {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.recipient-input::placeholder {
    color: rgba(0, 0, 0, 0.85);
}

.input-same {
    width: 382px;
    padding: 5px 12px;
    align-items: center;
    flex: 1 0 0;
    background-color: #fff;
    border: 1px solid #D9D9D9;
}

.submit-btn {
    display: flex;
    padding: 4px 15px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 2px;
    border: 1px solid #1890FF;
    background: #1890FF;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}

.divider {
    display: flex;
    padding: 40px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    display: flex;
    padding: 0px 56px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.instruction-title {
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.instruction-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.instruction-text p {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}